table {
	border-collapse: collapse;
}

th,
td {
	border: 1px solid black;
	padding: 5px 10px;
}

th {
	background-color: #eeeeee;
}

.shop_logo {
	width:30px;
	height:30px;
	object-fit: contain;
}

.btn-purple {
    background-color: #6f42c1;
    color: white;
    border-color: #6f42c1;
}

.btn-purple:hover {
    background-color: #5a32a3;
    color: white;
    border-color: #5a32a3;
}