<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista zakupów</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}">
</head>

<body>
    <div class="container mt-4">
        <div class="d-flex justify-content-between mb-3">
        <a href="{{ url_for('logout') }}" class="btn btn-sm btn-danger">Wyloguj</a>
        <a href="{{ url_for('budowa') }}" class="btn btn-sm btn-secondary">Budowa</a>
        <a href="{{ url_for('index') }}" class="btn btn-sm btn-secondary">Odśwież</a>
        </div> 
        <button class="btn btn-purple" type="button" data-bs-toggle="collapse" data-bs-target="#zakupy">
        Dodaj produkt
        </button>
        <div id="zakupy" class="card p-4 mb-4 collapse {% if edit_id %}show{% endif %}">
    <form id="zakupy-form" action="{{ form_action }}" method="POST">
        <h1 class="mb-4">Lista zakupów</h1>
        <div class="mb-3">
            <label for="produkt" class="form-label">Produkt</label>
            <input type="text" id="produkt" name="produkt" value="{{ produkt_value }}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="ilosc" class="form-label">Ilość</label>
            <input type="text" id="ilosc" name="ilosc" value="{{ ilosc_value }}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="sklep" class="form-label">Sklep</label>
            <input type="text" id="sklep" name="sklep" value="{{ sklep_value }}" class="form-control">
        </div>
        <input type='submit' value='dodaj' class="btn btn-primary">
        
    </form>
    </div>
    <table class="table table-striped table-hover mt-4">
        <tr>
            <th class="text-center align-middle">Produkt</th>
            <th class="text-center align-middle">Ilość</th>
            <th class="text-center align-middle">Sklep</th>
            <th class="text-center align-middle">akcje</th>
        </tr>
        {% for item in produkty %}
        {% if item['sklep'] == 'lidl' or item['sklep'] == 'Lidl' %}
            {% set row_class = 'table-primary' %}
            {% set logo_file = 'Lidl_logo.png' %}
        {% elif item['sklep'] == 'biedronka' or item['sklep'] == 'Biedronka' %}
            {% set row_class = 'table-danger' %}
            {% set logo_file = 'unnamed.webp' %}
        {% else %}
            {% set row_class = '' %}
            {% set logo_file = none%}
        {% endif %}
        <tr>
            <td class="text-center align-middle">{{ item['produkt'] }}</td>
            <td class="text-center align-middle">{{ item['ilosc'] }}</td>
            <td class="text-center align-middle">
                {% if logo_file %}
                <img src="{{ url_for('static', filename=logo_file) }}" alt="{{ item['sklep'] }}" class="shop_logo">
                {% elif item['sklep'] and item['sklep'].startswith('https') %}
                <a href="{{ item['sklep'] }}" class="text-center align-middle">LINK</a>
                {% else %}
                {{ item['sklep'] }}
                {% endif %}
            </td>
            <td class="text-center align-middle actions-cell">
                <div class="d-flex justify-content-center align-items-center gap-3">
                    <a href="{{ url_for('index', edit=item['id']) }}" class="text-decoration-none">
                        <img src="{{ url_for('static', filename='crayon_violet.png') }}" alt="edytuj" class="shop_logo">
                    </a>
                    <a href="{{ url_for('usun', id=item['id']) }}" class="text-decoration-none">
                        <img src="{{ url_for('static', filename='deletexxl.png') }}" alt="usun" class="shop_logo">
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
    </div>
    </body>

</html>